body {
    font-family: Tahoma, sans-serif;
}

label {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.margin {
    margin: 10px;
}

#result {
    word-break: break-word;
    width: 90%;
    text-align: center;
}